<%# sticky footer　一番下に固定します(学習サイトみたいな感じです) %>
<footer class="border-top py-3">
  <div class="container text-center">
    <small>&copy; Copyright © 2025 Nakano Cake All rights reserved. </small>
  </div>
</footer>